@model IEnumerable<naturGuiderna.Models.NatureActivity>

@{
    ViewData["Title"] = "Index";
}

<div class="mainContainer">

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>


    <div class="articleWrapper">
        @foreach (var item in Model)
        {
        <article class="myArticle">
            <h2>@item.Name</h2>
            <img src="@item.PictureUrl" alt="@item.Name" />
            <p class="descP">@item.Description</p>
            <div class="expWrapper">
                <div class="expImgWrapper">
                    <p class="pExp"></p>
                    <img class="rounded-circle maxHeight40" src="#" alt="Alternate Text" />
                </div>
            </div>
            <table class="table table-striped">
                <tbody>

                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Location)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.Name)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.StartDate)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EndDate)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NumberOfParticipants)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfParticipants) st
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price) kr
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="footerArticleWrapper">
                <div class="guideImgWrapper">
                    <img class="maxHeight40" src="@Html.DisplayFor(modelItem => item.Guide.ProfilePictureUrl)" alt="Guide: @Html.DisplayFor(modelItem => item.Guide.FullName)" />
                    <p><span class="font-weight-bold">@Html.DisplayNameFor(model => model.Guide):</span> @Html.DisplayFor(modelItem => item.Guide.FullName)</p>
                </div>
                <div class="btnWrapper">
                    <button class="btn btn-primary buy-btn"><i class="fas fa-shopping-cart mr-1"></i>Köp</button>
                </div>
            </div>
            <div class="editWrapperLink">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </article>
        }
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PictureUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfParticipants)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Availability)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Guide)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img class="rounded-top" src="@item.PictureUrl" alt="@item.Name" style="max-width: 200px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfParticipants)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Availability)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Guide.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>